---
import Page from "$layouts/Page.astro";
---

<Page title="Benchmark results - startup & size">
  <div id="loading">Loading benchmark data...</div>
  <div id="root"></div>

  <script>
    import Chart from "chart.js/auto";
    import type {
      ChartConfiguration,
      ChartConfigurationCustomTypesPerDataset,
    } from "chart.js";
    import * as v from "valibot";

    const ROBOTO_MONO = { family: "'Roboto Mono', monospace", size: 13 };
    const OPTIONS = {
      indexAxis: "y",
      scales: {
        x: {
          beginAtZero: true,
          ticks: {
            callback: (value: any) => +(+value).toFixed(2),
            font: ROBOTO_MONO,
          },
        },
        y: {
          ticks: {
            font: ROBOTO_MONO,
          },
        },
      },
      plugins: {
        legend: {
          display: true,
          position: "top",
          labels: {
            font: ROBOTO_MONO,
          },
        },
        tooltip: {
          bodyFont: ROBOTO_MONO,
          callbacks: {
            label: (ctx) => ctx.dataset.label! + ": " + ctx.parsed.x.toFixed(2),
          },
        },
      },
      responsive: true,
      maintainAspectRatio: false,
      font: ROBOTO_MONO,
    } as const satisfies (
      | ChartConfiguration<"bar", number[], string>
      | ChartConfigurationCustomTypesPerDataset<"bar", number[], string>
    )["options"] & {};

    const createDetails = (
      root: HTMLElement,
      text: string,
      type: number,
    ): HTMLDetailsElement => {
      const details = document.createElement("details");
      details.open = true;
      {
        const summary = document.createElement("summary");
        {
          const header = document.createElement("h" + type);
          header.textContent = text;
          header.id = `hd${type}-${encodeURIComponent(text.toLowerCase()).replace(/%/g, "-")}`;
          summary.appendChild(header);
        }
        details.appendChild(summary);
      }
      root.appendChild(details);
      return details;
    };

    const ChartData = v.object({
      labels: v.array(v.string()),
      datasets: v.array(
        v.object({
          label: v.string(),
          data: v.array(v.number()),
        }),
      ),
    });

    const load = (root: HTMLElement, data: any, prev: string[]) => {
      if (v.is(ChartData, data)) {
        const section = document.createElement("section");
        section.className = "chart-container";
        section.style.height = `calc(${6 * data.labels.length}rem)`;

        let chart: Chart | undefined;
        {
          const canvas = document.createElement("canvas");

          // Lazy render
          {
            let isRunning = false;

            new IntersectionObserver((entries) => {
              if (entries[0].isIntersecting) {
                isRunning = true;

                if (chart != null) chart.render();
                else
                  chart = new Chart(canvas.getContext("2d")!, {
                    type: "bar",
                    data,
                    options: OPTIONS,
                  });
              } else if (isRunning) {
                isRunning = false;
                chart!.stop();
              }
            }).observe(canvas);
          }

          section.appendChild(canvas);
        }

        root.appendChild(section);
      } else {
        for (const name in data)
          load(
            createDetails(root, name, prev.length + 1),
            data[name],
            prev.concat([name]),
          );
      }
    };

    {
      const ROOT = document.getElementById("root")!;
      const LOADING = document.getElementById("loading")!;

      // Correctly load the hash after load
      {
        const hash = location.hash;
        location.hash = "_";
        load(ROOT, await (await fetch("/api/libraries")).json(), []);
        if (hash !== "") location.hash = hash;
      }

      LOADING.style.display = "none";
      ROOT.style.display = "block";
    }
  </script>

  <style is:global>
    body {
      margin: 20px;
      background: #f9f9f9;
      color: #333;
      text-align: center;
    }

    #root {
      display: none;
    }

    #loading {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 100px;
      color: #666;
    }

    .chart-container {
      width: 92%;
      max-width: 100rem;
      margin: 20px auto 40px auto;
      border-radius: 8px;
      text-align: center;

      canvas {
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
      }
    }

    summary::marker {
      content: "";
      display: none;
    }

    details {
      padding: 0.3rem 2rem 0 2rem;
      margin-bottom: 2rem;
    }

    h1,
    h2,
    h3,
    h4 {
      cursor: pointer;
      user-select: none;
    }

    h1 {
      font-weight: 700;
      font-size: 2.7rem;
      text-align: center;
    }

    h2 {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
    }

    h3 {
      font-size: 1.4rem;
    }
  </style>
</Page>
