---
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
}

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      props.description && (
        <meta name="description" content={props.description} />
      )
    }
    <title>{props.title}</title>
    <style>
      * {
        font-family: "Roboto Mono", monospace;
      }
    </style>

    <Font cssVariable="--font-roboto-mono" preload />
  </head>
  <body>
    <slot />
  </body>
</html>
